{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
<div class="container">    		
     <div class="col-md-6 col-md-offset-3">
		<h2>Create new auction</h2>
   		 {{ form_start(form) }}
    		{{ form_errors(form) }}
            <div>
              {{ form_label(form.item.itemName, "Name") }}
              {{ form_errors(form.item.itemName) }}
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-cube fa-fw"></i></span>
                {{ form_widget(form.item.itemName) }}
              </div>
            </div>
            <div>
              {{ form_label(form.item.description) }}
              {{ form_errors(form.item.description) }}
              <div class="form-group input-group" >
              	<span class="input-group-addon"></span>
                {{ form_widget(form.item.description) }}
              </div>
            </div>
            <div>
              {{ form_label(form.item.image, "Upload Image") }}
              {{ form_errors(form.item.image) }}
              <div class="form-group">
                {{ form_widget(form.item.image) }} 
              </div>             
            </div>
            <div>
              {{ form_label(form.item.categoryID) }}
              {{ form_errors(form.item.categoryID) }}
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-list-ol fa-fw"></i></span>
                {{ form_widget(form.item.categoryID) }}
              </div>
            </div>
            <div>
              {{ form_label(form.startAt) }}
              {{ form_errors(form.startAt) }}
              <div class="form-group input-group">
                <span class="input-group-addon"></span>
                {{ form_widget(form.startAt) }}
              </div>
            </div>
            <div class="form-group">
                 {{ form_label(form.endAt ) }}
                 {{ form_errors(form.endAt) }}
                    <div class='input-group date'>
                        {{ form_widget(form.endAt) }}
                         <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                         </span>
                    </div>
             </div>
             <div class="form-group">
              {{ form_label(form.reservedPrice) }}
              {{ form_errors(form.reservedPrice) }}
                {{ form_widget(form.reservedPrice) }}
            
             </div>
             <div class="form-group">
              {{ form_label(form.startingBid) }}
              {{ form_errors(form.startingBid) }}
                {{ form_widget(form.startingBid) }}
              </div>

              <div class="form-group">
              {{ form_label(form.minBidIncrease) }}
              {{ form_errors(form.minBidIncrease) }}
                {{ form_widget(form.minBidIncrease) }}
              </div>
    		<div>
        		{{ form_widget(form.save, {'attr': {'class': 'col-md-6 col-md-offset-3 btn btn-def '}}) }}
    		</div>
    		{{ form_end(form) }}
	</div>
</div>

{% endblock %}