{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="col-md-10 col-md-offset-1">
	<h2>Search Result</h2>
	<div class = "row">
	{{ form_start(filter_form) }}
	{{ form_errors(filter_form) }}

		{{ form_label(filter_form.categories, "Category") }}
    {{ form_errors(filter_form.categories) }}
    {{ form_widget(filter_form.categories, {'attr': {'class': 'row'}}) }}

    {{ form_label(filter_form.price_ascending) }}
    {{ form_errors(filter_form.price_ascending) }}
    {{ form_widget(filter_form.price_ascending, {'attr': {'class': 'row'}}) }}


    {{ form_label(filter_form.created_ascending) }}
    {{ form_errors(filter_form.created_ascending) }}
    {{ form_widget(filter_form.created_ascending, {'attr': {'class': 'row'}}) }}
    <br><br>
      <div class = "row" style="padding-top:20px;">
            {{ form_widget(filter_form.filter, {'attr': {'class':  'col-md-3 col-md-offset-4 btn btn-def'}}) }}
      </div>
    
	{{ form_end(filter_form) }}
	</div>
	{% if auctions|length > 0 %}
    <table class="table table-striped search-table">
        <thead>
          <tr>
        		<td class="col-md-4"><label>Item </label></td>
        		<td class="col-md-1"><label>Image </label></td>
        		<td class="col-md-2"><label>Seller </label></td>
            <td class="col-md-1"><label>Price </label></td>
            <td class="col-md-2"><label>End At </label></td>
        	</tr>
        </thead>
        <tbody>
           {% for auction in auctions %}
           <tr>
               <td><a href="{{ path('auction_show', {'auctionID': auction.id})}}">{{ auction.itemName }}</a></td>
               {% if auction.imageURL is not null %}
               <td><img src="{{asset('assets/photos/'~auction.imageURL) }}" alt="image" class="tbn"></td>
               {% else %}
               <td><center><img src="http://placehold.it/100/bbbbbb/fff&amp;text={{ auction.id }}" class="img-responsive"></center></td>
             {% endif %}
               <td><a href="{{ path('user_show', {'userID': auction.sellerID})}}">{{auction.name}}</a></td>
               <td>{{auction.currentBid}}</td>
               <td>{{auction.endAt | date('Y-m-d H:i')}}</td>
           </tr>
           {% endfor %}    
        </tbody>
       </table>
       {% else %}
       			<br>
				<p>No matching items found for your search. Please try again!</p>
       {% endif %}
	</div>
</div>
{% endblock %}

{% block stylesheets %}
  <style>
  table.search-table tr td{
    vertical-align: middle !important;
  }
  img.tbn{
    max-width: 150px;
    height: 150px;
    display: -moz-inline-box; /* Firefox 2 */
    display: inline-block;
  }
  </style>
{% endblock %}
