{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="col-md-8 col-md-offset-2">
	<h2>Search Result</h2>
	<div class = "row">
	{{ form_start(filter_form) }}
	{{ form_errors(filter_form) }}

		{{ form_label(filter_form.categories, "Category") }}
        {{ form_errors(filter_form.categories) }}
        {{ form_widget(filter_form.categories, {'attr': {'class': 'row'}}) }}
    	
    	<div class = "row">
            {{ form_widget(filter_form.filter, {'attr': {'class':  'col-md-3 col-md-offset-4 btn btn-def'}}) }}
        </div>
	{{ form_end(filter_form) }}
	</div>
	{% if auctions|length > 0 %}
    <table class="table table-striped">
        <thead><tr>
        		<td><label>Item </label></td>
        		<td><label>Image </label></td>
        		<td><label>Seller </label></td>
        	</tr></thead>
           <tbody>
               {% for auction in auctions %}
               <tr>
                   <td><a href="{{ path('auction_show', {'auctionID': auction.id})}}">{{ auction.id }}</a></td>
                   <td><center><img src="http://placehold.it/100/bbbbbb/fff&amp;text={{ auction.id }}" class="img-responsive"></center></td>
                   <td><a href="{{ path('user_show', {'userID': auction.sellerID})}}">{{auction.name}}</a></td>
               </tr>
               {% endfor %}    
           </tbody>
       </table>
       {% else %}
       			<br>
				No matching items found for your serach. Please try again!
       {% endif %}
	</div>
</div>
{% endblock %}
