{% extends 'base.html.twig' %}

    {% block body %}
    <div class="container">
        {% if auction.sellerID == app.session.get('userID') %}
        <div class="row">
            <div class="col-md-2 col-md-push-10">
                <button style="padding-right: 25px; padding-left: 25px; padding-top: 7px; padding-bottom: 7px; margin-top: 15px;"><a  class="btn btn-def btn" style="color:#fff" href="{{ path('auction_edit', {'auctionID': auction.id}) }}"> Edit </a></button>
            </div>  
        </div>
        {% endif %}
        <div class="col-md-8 col-md-offset-2">
            <h2>Auction Detail</h2>
            {# show if this is user's own auction #}
            {% if auction.sellerID == app.session.get('userID') %}
            <div class="flash flash-info" style="clear:both;">
                <div class="alert alert-info fade in" role="alert" >
                    This is your auction.
                </div>
            </div>
            {% endif %}
            {% if ended %}
            {% if bidded %}
            {% if won %}
            <div class="flash flash-success">
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Auction has ended. You won this auction!
                </div>
            </div>
            {% else %}<!-- won -->
            <div class="flash flash-warning">
                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Auction has ended. You didn't win this auction!
                </div>
            </div>
            {% endif %}<!-- won -->
            {% else %}<!-- bidded -->
            <div class="flash flash-info">
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Auction has ended.
                </div>
            </div>
            {% endif %}<!-- bidded -->
            {% else %}<!-- ended -->
            {% if bidded %}
            {% if winning %}
            <div class="flash flash-success">
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Good! You have the highest bid.
                </div>      
            </div>
            {% else %}<!-- winning -->
            <div class="flash flash-warning">
                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Warning : You have been outbid. Please increase your bid.
                </div>
            </div>
            {% endif %}<!-- winning -->
            {% else %}<!-- bidded -->
            {# <div class="flash flash-info">
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                You have not bid on this item.
            </div>
        </div> #}
        {% endif %}<!-- bidded -->
        {% endif %}<!-- ended -->
        <div class="row" style="padding-top:12px;">
            <div class="col-md-12">
                <b>{{ auction.item.itemName}}</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                {% if auction.item.imageURL is not null %}
                <img src="{{asset('assets/photos/'~auction.item.imageURL) }}" alt="image" class="img-responsive">
                {% else %}
                <img src="http://placehold.it/500/bbbbbb/fff&amp;text={{ auction.id }}" class="img-responsive">
                {% endif %}
            </div>
            <div class="col-md-7">
                <div class="row.10">
                    <label>Category :</label> {{ auction.item.categoryName}}
                </div>
                <div class="row.10">
                    <label>Description :</label>
                    {% if auction.item.description is null %}
                    This guy is too lazy to leave anything here.
                    {% else %}
                    <p>{{ auction.item.description}}</p>
                    {% endif %}

                </div>
                <div.inline>
                <label id="timeleft"></label>
            </div.inline>
            {% if ended %}
            <div class="row.10">
                <label>£ Winning Price :</label>{{ auction.currentBid}}
            </div>
            <div class="row.10">
                <label>Ended At :</label>{{ auction.endAt | date('Y - m - d  H:i:s')}}
            </div>
            {% else %}
            <div class="row.10">
                <label>£ Current Price :</label>
                {% if auction.currentBid is null %}
                {{auction.startingBid}}&nbsp;
                <br><br><br>
                {% else %}
                {{ auction.currentBid}}

                <div class="row.10">
                    <!-- Bid History Table -->
                    <a data-toggle="modal" data-target="#history" style="margin:8em"> bid history</a>
                    <div class="modal fade" id="history" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <label>Bid History</label>
                                </div>
                                <div class="modal-body">
                                    <table id="table" data-toggle="table" data-height="auto"
                                    align="center">
                                    <thead>
                                        <tr>
                                            <td><label>Time</label></td>
                                            <td><label>User</label></td>
                                            <td><label>Bid Value</label></td>
                                        </tr>
                                        {% for bid in bids %}
                                        <tr>
                                            <td>{{ bid.createdAt | date('Y-m-d H:i:s') }}</a></td>
                                            <td>{{ bid.buyerName }}</td>
                                            <td>{{ bid.bidValue }}</td>
                                        </tr>
                                        {% endfor %} 
                                    </thead>
                                </table>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div><!-- /.row-->
            <br><br>
            {% endif %}
        </div>
        <div class="row.10" style="margin:-2em">
            {% if bids|length == 0 %}
            <p style="text-align:center;"><small>No one has bidded yet, <b>be the first one!</b></small></p>
            {% endif %}
            {{ include('bid/bid.html.twig', {'bid_form': bid_form }) }}
            <p style="clear: both;text-align: center;"><small>Minimum bid increase is {{auction.minBidIncrease}}</small></p>
        </div>
        <br><br>
        {% endif %}

        {% if app.session.get('userID') is not null %}
        <div class="row.10">
            <div id="watch-button">
            </div>
        </div>
        {% endif %}

        <div class="row.10">
            <label>View :</label> {{ auction.viewCount}}
        </div>
        <div class="row.10">
            <label>Seller :</label>
            <a href="{{ path('user_show', {'userID': auction.sellerID})}}">{{seller.name}}</a>
        </div>
    </div>
</div>
</div><!-- /.col-->
</div><!-- /.container-->
<div id="features-wrapper" style="height: 590px; background:none; padding-top:0.1em;">
    <section id="header" class="container" style="padding-top: 0.1em; padding-bottom: 0px; height: 602px;">
        <header>
            <h2>Similar items you may be interested in</h2>
        </header>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" id="similarAuction">
                    <div class="carousel-inner">
                        {% for auction in similarAuctions %}
                        <div class="item {% if loop.first %} active {% endif %}">
                            <div class="col-xs-3">
                                <div class="text-center">
                                    <a class="label label-danger" style="color:#fff;"href="{{ path('auction_show', {'auctionID': auction.id})}}">View item</a>
                                </div>
                                {% if auction.imageURL is not null %}
                                <img src="{{asset('assets/photos/'~auction.imageURL) }}" alt="image" style="min-height:200px; max-height:200px; min-width:200px; max-width:200px;">
                                {% else %}
                                <img src="http://placehold.it/300/bbbbbb/fff&amp;text={{ auction.id }}" style="min-height:200px; max-height:200px; min-width:200px; max-width:200px;">
                                {% endif %}
                                <div class="text-center">
                                    <h4><a href="#">{{ auction.itemName }}</a></h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %} 
                    </div>
                    <a class="left carousel-control" href="#similarAuction" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#similarAuction" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>



{% endblock %}


{% block stylesheets %}
<style type="text/css">

.label-danger {
    background-color: #ed786a!important;
    padding: 5px!important;
}

.carousel-inner .active.left {
    left: -33%;
}

.carousel-inner .next {
    left: 33%;
}

.carousel-inner .prev {
    left: -33%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}


</style>

{% endblock %}


{% block javascripts %} 
<script type="text/javascript" src="{{asset('assets/vendor/bootstrap/dist/js/jquery.countdown.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/auction_show.js')}}"></script>
<script>


{% if watching %}
    var watchingFlag = true;
{% else %}
    var watchingFlag = false;
{% endif %}
    var pending = false;

function updateWatchingButton() {
    pending = true;
    if (watchingFlag) {
        $('#watch-button').html('<a href="#">Remove from watch list.</a>');
    } else {
        $('#watch-button').html('<a href="#">Add to watch list.</a>');
    }
    $('#watch-button > a').click(function(e) {
        e.preventDefault();
        if (pending) {
            return;
        }
        pending = true;
        $('#watch-button').html('Pending...');
    //path is semi broken for now. auctionID should be auto update. will fix later today 

    $.get('{{ path('auction_watch', {'userID': (app.session.get('userID') ? app.session.get('userID') : 0), 'auctionID': auction.id }) }}', function(data) {
        watchingFlag = data;
        updateWatchingButton();
        pending = false;
    });
});
    pending = false;
}
updateWatchingButton();
</script>


<script>
$('#similarAuction').carousel({
    interval: 10000
})

$('.carousel .item').each(function() {
    var next = $(this).next();
    if (!next.length) {
        next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));

    if (next.next().length > 0) {
        next.next().children(':first-child').clone().appendTo($(this));
    } else {
        $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
    }
});
</script>

{% endblock %}
