{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="col-md-8 col-md-offset-2">
    <h2>Auction Detail</h2>
    <div class="row">
    	<div class="col-md-3">
    	<label> {{ auction.item.itemName}}</label>
    	<img src="http://placehold.it/500/bbbbbb/fff&amp;text={{ auction.id }}" class="img-responsive">
		</div>
		<div class="col-md-7">
    	<div class="row.10">
    			<label>Category :</label> {{ auction.item.categoryName}}
    		</div>
    		<div class="row.10">
				<label>Description :</label>{{ auction.item.description}}
			</div>
			<div.inline>
				<label id="timeleft"></label>
			</div.inline>
			<div class="row.10">
				<label>£ Current Price :</label>{{ auction.currentBid}}
			</div>
			<br>
			<div class="row.10">
            <!-- Bid History Table -->
            <a data-toggle="modal" data-target="#history" style="margin:8em"> bid history</a>
                <div class="modal fade" id="history" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            	<label>Bid History</label>
                            </div>
                        <div class="modal-body">
                            <table id="table" data-toggle="table" data-height="auto"
                                align="center">
                              <thead>
                                <tr>
                                    <td><label>Time</label></td>
                                    <td><label>User</label></td>
                                    <td><label>Bid Value</label></td>
                                </tr>
                        {% for bid in bids %}
                        	<tr>
                            	<td>{{ bid.createdAt | date('Y-m-d H:i:s') }}</a></td>
                            	<td>{{ bid.buyerName }}</td>
                            	<td>{{ bid.bidValue }}</td>
                        	</tr>
                        {% endfor %} 
                               </thead>
                            </table>
                        </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div><!-- /.row-->
            <br><br>
            <div class="row.10" style="margin:-2em" id="bid_form">
            	{{ include('bid/bid.html.twig', {'bid_form': bid_form }) }}
			</div><br><br>
			<div class="row.10">
				<label>View :</label> {{ auction.viewCount}}
			</div>
			<div class="row.10">
				<label>Seller :</label>
				 <a href="{{ path('user_show', {'userID': auction.sellerID})}}">{{seller.name}}</a>
			</div>
		</div>
	</div>
    </div>
</div>
<div id="features-wrapper" style="height: 590px; background:none; padding-top:0.1em;">
    <section id="header" class="container" style="padding-top: 0.1em; padding-bottom: 0px; height: 602px;">
        <header>
            <h2>Similar items you may be interested in</h2>
        </header>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" id="similarAuction">
                    <div class="carousel-inner">
                        {% for auction in similarAuctions %}
                            <div class="col-md-2">
                                <img src="http://placehold.it/500/bbbbbb/fff&amp;text={{ auction.id }}" class="img-responsive">
                                <div class="text-center">
                                    <h4><a href="#">{{ auction.id }}</a></h4>
                                    <p></p>
                                    <a class="label label-success" href="{{ path('auction_show', {'auctionID': auction.id})}}">View item</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#similarAuction" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#similarAuction" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="{{asset('assets/vendor/bootstrap/dist/js/jquery.countdown.min.js')}}"></script>
<script type="text/javascript" src="{{asset('assets/js/auction_show.js')}}"></script>
{% endblock %}
