<h3>Dear {{name}}:</h3>

<p>Since {{updatedTo|date('Y-m-d H:i:s')}}, there are {{bidCount}} more new bids for your item <a href="{{ url('auction_show',{'auctionID':auctionID}) }}">{{itemName}}</a>!</p>

<p>Hooray!</p>

<br>
<p>Boo Boo Auction</p>