{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

<div class="container">    		
      	<div class="col-md-6 col-md-offset-3">
      		<h2>Register</h2>
          {{ form_start(form) }}
            {{ form_errors(form) }}
            <div>
              {{ form_label(form.name) }}
              {{ form_errors(form.name) }}
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                {{ form_widget(form.name) }}
              </div>
            </div>
            <div>
              {{ form_label(form.email) }}
              {{ form_errors(form.email) }}
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                {{ form_widget(form.email) }}
              </div>
            </div>
            <div>
              {{ form_label(form.password.first) }}
              {{ form_errors(form.password.first) }}
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                {{ form_widget(form.password.first) }}
              </div>
            </div>
            <div>
              {{ form_label(form.password.second) }}
              {{ form_errors(form.password.second) }}
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                {{ form_widget(form.password.second) }}
              </div>
            </div>
            <div>
                {{ form_widget(form.register, {'attr': {'class': 'btn btn-def btn-block'}}) }}
            </div>
            {{ form_end(form) }}
      </div>    
  </div>
</div>

{% endblock %}
