{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

	{% if owner %}
 	<div class="col-md-8">
	<h2 style="padding-bottom: 0px; width: 700px;">User show.html.twig user is owner</h2>
	</div>
 
	<div class="col-md-4" style="padding-left: 200px;">

		<button type="submit" style="padding-right: 25px; padding-left: 25px; padding-top: 7px; padding-bottom: 7px; margin-top: 15px;">
			<a  class="btn btn-def btn" style="color:#fff" href="{{ path('auction_new') }}"> New Auction </a>
		</button>

	</div>

	<div class="row">	
		<div class="col-md-4" >
			<img src="http://placehold.it/200/bbbbbb/fff&amp;text={{ user.id }}" class="img-responsive">
		</div>

		<div class="col-md-8">
			<label> User Name : </label>{{user.name}}<br>
			<label> Email : </label>{{user.email}}<br>
			<label><a href="{{ path('user_change_password', {'userID': app.session.get('userID')}) }}"> Change Password</a></label>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#buying" aria-controls="buying" role="tab" data-toggle="tab">Buying</a></li>
				<li role="presentation"><a href="#selling" aria-controls="selling" role="tab" data-toggle="tab">Selling</a></li>
				<li role="presentation"><a href="#bought" aria-controls="bought" role="tab" data-toggle="tab">Bought</a></li>
				<li role="presentation"><a href="#sold" aria-controls="sold" role="tab" data-toggle="tab">Sold</a></li>
				<li role="presentation"><a href="#watching" aria-controls="watching" role="tab" data-toggle="tab">Watching</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="buying">
					<table class="table table-striped">
						<thead><tr><td>Item Name</td><td>Bid</td><td>Current Bid</td><td>Time Left</td><td>Details</td></tr></thead>
						<tbody id="buying-table">
						</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="selling">
					<table class="table table-striped">
						<thead><tr><td>Item Name</td><td>Starting Bid</td><td>Current Bid</td><td>Time Left</td><td>Details</td></td></thead>
						<tbody id="selling-table">
						</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="bought">
					<table class="table table-striped">
						<thead><tr><td>Item Name</td><td>Seller Name</td><td>Price</td><td>Date</td></tr></thead>
						<tbody id="bought-table">
						</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="sold">
					<table class="table table-striped">
						<thead><tr><td>Item Name</td><td>Seller Name</td><td>Price</td><td>Date</td></td></thead>
						<tbody id="sold-table">
						</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="watching">
					<table class="table table-striped">
						<thead><tr><td>Item Name</td><td>Current Bid</td><td>Time Left</td><td>Details</td></tr></thead>
						<tbody id="watching-table">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	{% else %}

	<div class="row">	
		<h2> user is not owner of profile page </h2>
	</div>

	<div class="row">	
		<div class="col-md-4">
			<img src="http://placehold.it/200/bbbbbb/fff&amp;text={{ user.id }}" class="img-responsive">
		</div>

		<div class="col-md-8">
			<label> User Name : </label>{{user.name}}<br>
			<label> Email : </label>{{user.email}}<br>
			<label> Average Rating: </label>
				{% for i in 1..5 %}
					{% if i <= averageRating %}
						<i class="fa fa-star"></i>
					{% elseif i > averageRating and (i - 1) < averageRating %}
						<i class="fa fa-star-half-o"></i>
					{% else %}
						<i class="fa fa-star-o"></i>
					{% endif %}
				{% endfor %}
			<br>
		</div> 
	</div>
	  
	<div class="row">
		<div class="col-md-12">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#selling" aria-controls="selling" role="tab" data-toggle="tab">Selling</a></li>
				<li role="presentation"><a href="#feedback" aria-controls="feedback" role="tab" data-toggle="tab">Feedback</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="selling">
					<table class="table table-striped">
						<thead><tr><td>Item Name</td><td>Current Bid</td><td>Time Left</td><td>Details</td></td></thead>
						<tbody id="selling-table">
						</tbody>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="feedback">
					<table class="table table-striped">
						<thead><tr><td>User</td><td>Rating</td><td>Comment</td><td>Auction</td></tr></thead>
						<tbody id="feedback-table">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	{% endif %}
</div>
 


{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="{{asset('assets/vendor/bootstrap/dist/js/jquery.countdown.min.js')}}"></script>
{% if owner %}
<script>
var auctions = {
	buying: {},
	selling: {},
	bought: {},
	sold: {},
	watching: {}
};
var countDownRows = [];
function updateTable(data, category, buttonName) {
	function auctionShowURL(id) {
		var url = '{{ path('auction_show', {'auctionID': 0 })}}';
		return url.replace('0', id);
	} 

	function auctionEditURL(id) {
		var url = '{{ path('auction_edit', {'auctionID': 0 })}}';
		return url.replace('0', id);
	} 

	function feedbackShowURL(id) {
		var url = '{{ path('feedback_newt', {'auctionID': 0 })}}';       //newt route over new for testing purposes for now
		return url.replace('0', id);
	}
	for (var key in auctions[category]) {
		if (auctions[category].hasOwnProperty(key)) {
			auctions[category][key].pendingDelete = true;
		}
	}
	// insert or update values
	for (var i = 0; i < data[category].length; ++i) {
		if (category == 'buying' || category == 'selling') {
			if (auctions[category][data[category][i].id]) {
				auctions[category][data[category][i].id].itemName = data[category][i].itemName;
				if (category == 'buying') {
					auctions[category][data[category][i].id].bidValue = data[category][i].bidValue;
 				}
				auctions[category][data[category][i].id].currentBid = (data[category][i].currentBid ? data[category][i].currentBid : 'No bid');
				auctions[category][data[category][i].id].endAt = data[category][i].endAt;
				var tdArray = $(auctions[category][data[category][i].id].el).children('td');

				$(tdArray[0]).html('<a href="' +  auctionShowURL(data[category][i].id) + '">' +
					auctions[category][data[category][i].id].itemName + '</a>');
		//switches between bidValue and startingBid depending on whether the category is buying or selling	
				if(category == 'buying'){
					$(tdArray[1]).html(auctions[category][data[category][i].id].bidValue);
				}else{
					$(tdArray[1]).html(auctions[category][data[category][i].id].startingBid);
				}

				$(tdArray[2]).html(auctions[category][data[category][i].id].currentBid);
			} else {
				auctions[category][data[category][i].id] = data[category][i];
				auctions[category][data[category][i].id].el = $('<tr><td style="text-align:left;">' + '<a href="' +  
					auctionShowURL(data[category][i].id) + '">' + auctions[category][data[category][i].id].itemName + '</a></td><td>' 
					+ (category == 'buying' ? auctions[category][data[category][i].id].bidValue : auctions[category][data[category][i].id].startingBid) + '</td><td>' + (auctions[category][data[category][i].id].currentBid ? auctions[category][data[category][i].id].currentBid : 'No bid') + '</td><td></td><td><a class="btn btn-primary" href="' + 
					(category == 'buying' ? auctionShowURL(data[category][i].id) : auctionEditURL(data[category][i].id)) + '" role="button">' + buttonName + '</a></td></tr>');
				
				$('#' + category + '-table').append(auctions[category][data[category][i].id].el);
				var endTime = new Date(auctions[category][data[category][i].id].endAt.date);
				var tdArray = $(auctions[category][data[category][i].id].el).children('td');
				$(tdArray[3]).countdown(endTime, {elapse: true}).on('update.countdown', function(event) {
					var $this = $(this);
					if (event.elapsed) {
						$this.html('Ended');
					} else {
						$this.html(event.strftime('%D days : %H hours : %M mins : %S seconds'));
					}
				});
			}
		} else if (category == 'watching') {
			if (auctions[category][data[category][i].id]) {


				auctions[category][data[category][i].id].itemName = data[category][i].itemName;
				auctions[category][data[category][i].id].endAt = data[category][i].endAt;
				var tdArray = $(auctions[category][data[category][i].id].el).children('td');
				$(tdArray[0]).html(auctions[category][data[category][i].id].itemName);
				$(tdArray[1]).html(auctions[category][data[category][i].id].currentBid);
			} else {
				auctions[category][data[category][i].id] = data[category][i];
				auctions[category][data[category][i].id].el = $('<tr><td>' + auctions[category][data[category][i].id].itemName + '</td><td>' + (auctions[category][data[category][i].id].currentBid ? auctions[category][data[category][i].id].currentBid : 'No bid') + 
					'</td><td></td><td><a class="btn btn-primary" href="' + auctionShowURL(data[category][i].id) + '" role="button">' + buttonName + '</a></td></tr>');
				$('#' + category + '-table').append(auctions[category][data[category][i].id].el);
				var endTime = new Date(auctions[category][data[category][i].id].endAt.date);
				var tdArray = $(auctions[category][data[category][i].id].el).children('td');
		 		$(tdArray[2]).countdown(endTime, {elapse: true}).on('update.countdown', function(event) {
					var $this = $(this);
					if (event.elapsed) {
						$this.html('Ended');
					} else {
						$this.html(event.strftime('%D days : %H hours : %M mins : %S seconds'));
					} 
				}); 
			}
		} else {
			if (auctions[category][data[category][i].id]) {
			} else {
				auctions[category][data[category][i].id] = data[category][i];
				auctions[category][data[category][i].id].el = $('<tr><td>' + auctions[category][data[category][i].id].itemName + '</td><td>' + auctions[category][data[category][i].id].sellerName + '</td><td>' + auctions[category][data[category][i].id].currentBid + '</td><td>' + auctions[category][data[category][i].id].endAt.date + '</td><td><a class="btn btn-primary" href="' + feedbackShowURL(data[category][i].id) + '" role="button">' + buttonName + '</a></td></tr>');
				$('#' + category + '-table').append(auctions[category][data[category][i].id].el);
			}
		}
		auctions[category][data[category][i].id].pendingDelete = false;
	}
	// remove values
	var toDelete = [];
	for (var key in auctions[category]) {
		if (auctions[category].hasOwnProperty(key) && auctions[category][key].pendingDelete) {
			$(auctions[category][key].el).remove();
			toDelete.push(key);
		}
	}
	for (var i = 0; i < toDelete.length; ++i) {
		auctions[category][toDelete[i]] = undefined;
	}
}
function updateTables() {
	$.get('{{ path('user_api', {'userID': user.id })}}', function(data) {
		updateTable(data, 'buying', 'Go');
		updateTable(data, 'selling', 'Edit');
		updateTable(data, 'bought', 'Feedback');
		updateTable(data, 'sold', 'Feedback');
		updateTable(data, 'watching', 'Go');
	});
}
updateTables();
setInterval(updateTables, 5000);
</script>
{% else %}
<script>
var auctions = {
	selling: {},
	feedback: {}
};
var countDownRows = [];
function updateTable(data, category, buttonName) {
	function auctionShowURL(id) {
		var url = '{{ path('auction_show', {'auctionID': 0 })}}';
		return url.replace('0', id);
	} 
	function userShowURL(id) {
		var url = '{{ path('user_show', {'userID': 0 })}}';
		return url.replace('0', id);
	} 
	function feedbackShowURL(id) {
		var url = '{{ path('feedback_newt', {'auctionID': 0 })}}';       //newt route over new for testing purposes for now
		return url.replace('0', id);
	}
	for (var key in auctions[category]) {
		if (auctions[category].hasOwnProperty(key)) {
			auctions[category][key].pendingDelete = true;
		}
	}
	// insert or update values
	for (var i = 0; i < data[category].length; ++i) {
		if (category == 'feedback') {
			if (auctions[category][data[category][i].id]) {
				auctions[category][data[category][i].id].rating = data[category][i].rating;
				auctions[category][data[category][i].id].comment = data[category][i].comment;
				var tdArray = $(auctions[category][data[category][i].id].el).children('td');

				$(tdArray[1]).html(auctions[category][data[category][i].id].rating);
				$(tdArray[2]).html(auctions[category][data[category][i].id].comment);
			} else {
				auctions[category][data[category][i].id] = data[category][i];
				auctions[category][data[category][i].id].el = $('<tr><td><a href="' + userShowURL(auctions[category][data[category][i].id].giverID) + '">' + auctions[category][data[category][i].id].giverName + '</a></td><td>' + auctions[category][data[category][i].id].rating + '</td><td>' + auctions[category][data[category][i].id].comment + '</td><td><a class="btn btn-primary" href="' + 
					auctionShowURL(auctions[category][data[category][i].id].auctionID) + '" role="button">' + buttonName + '</a></td></tr>');
				
				$('#' + category + '-table').append(auctions[category][data[category][i].id].el);
			}
		} else if (category == 'selling') {
			if (auctions[category][data[category][i].id]) {
				auctions[category][data[category][i].id].itemName = data[category][i].itemName;
				auctions[category][data[category][i].id].endAt = data[category][i].endAt;
				var tdArray = $(auctions[category][data[category][i].id].el).children('td');
				$(tdArray[0]).html(auctions[category][data[category][i].id].itemName);
				$(tdArray[1]).html((auctions[category][data[category][i].id].currentBid ? auctions[category][data[category][i].id].currentBid : 'No bid'));
			} else {
				auctions[category][data[category][i].id] = data[category][i];
				auctions[category][data[category][i].id].el = $('<tr><td>' + auctions[category][data[category][i].id].itemName + '</td><td>' + (auctions[category][data[category][i].id].currentBid ? auctions[category][data[category][i].id].currentBid : 'No bid') + 
					'</td><td></td><td><a class="btn btn-primary" href="' + auctionShowURL(data[category][i].id) + '" role="button">' + buttonName + '</a></td></tr>');
				$('#' + category + '-table').append(auctions[category][data[category][i].id].el);
				var endTime = new Date(auctions[category][data[category][i].id].endAt.date);
				var tdArray = $(auctions[category][data[category][i].id].el).children('td');
		 		$(tdArray[2]).countdown(endTime, {elapse: true}).on('update.countdown', function(event) {
					var $this = $(this);
					if (event.elapsed) {
						$this.html('Ended');
					} else {
						$this.html(event.strftime('%D days : %H hours : %M mins : %S seconds'));
					} 
				}); 
			}
		}
		auctions[category][data[category][i].id].pendingDelete = false;
	}
	// remove values
	var toDelete = [];
	for (var key in auctions[category]) {
		if (auctions[category].hasOwnProperty(key) && auctions[category][key].pendingDelete) {
			$(auctions[category][key].el).remove();
			toDelete.push(key);
		}
	}
	for (var i = 0; i < toDelete.length; ++i) {
		auctions[category][toDelete[i]] = undefined;
	}
}
function updateTables() {
	$.get('{{ path('show_api', {'userID': user.id })}}', function(data) {
		updateTable(data, 'selling', 'Go');
		updateTable(data, 'feedback', 'Go');
	});
}
updateTables();
setInterval(updateTables, 5000);
</script>
{% endif %}
{% endblock %}
