<div class="row.30"> 
{{ form_start(bid_form) }}
 {{ form_label(bid_form.bidValue,"Bid") }}
 {{ form_errors(bid_form.bidValue) }}
  	<div class="form-group input-group">
    	<span class="input-group-addon"><i class="fa fa-gavel fa-fw"></i></span>
    	{{ form_widget(bid_form.bidValue) }}
  	</div>
  
  	{{ form_widget(bid_form.bid, {'attr': {'class': 'col-md-9 btn btn-def'}}) }}
{{ form_end(bid_form) }}
</div>
